@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-light-webfont.woff2") format("woff2");
  src: url("./assets/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2");
  src: url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2");
  src: url("./assets/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-primary: #397ef6;
  --color-secondary: #253248;
  --color-background: #fafbfc;
  --color-text: #c5c2c2;
  --font-family: "Roboto", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);

  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.side-bar {
  border: 1px solid red;
}

.main-content {
  border: 1px solid red;
}

.logo {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);

  font-size: 2rem;
}

.description {
  color: var(--color-text);
}

.lang-container {
  display: flex;
  justify-content: end;
}

select,
button,
input,
label {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

select,
select:focus,
select:active {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;

  color: var(--color-secondary);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  color: var(--color-secondary);
  top: 2px;
  right: 10px;
  position: absolute;
}
